@import "./scss/variables";
@import "./scss/classes";

*{
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

body{
  font-family: sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  position: relative;
}

.rules-overlay {
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s;
  background-color: whitesmoke;
  display: flex;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  position: fixed;
  padding: 30px;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 94px 6px black;
  border-radius: 10px;
}
.rules-overlay.rules-active {
  transform: translate(-50%, -50%) scale(1);
}
.rules-overlay h3 {
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 800;
  color: #767676;
  margin-bottom: 27px;
  text-align: center;
}
.rules-overlay .close-rules {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.head-box {
  padding: 22px;
  margin: 40px auto;
  border: 3px solid $light-opacity-color;
  width: 67%;
  border-radius: 22px;
}
.score-box {
  background: #ebebeb;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: bold;
}
.score-box p {
  font-size: 14px;
  color: #5162AC;
  text-transform: uppercase;
}
.score-box span {
  font-size: 40px;
  font-weight: 800;
  color: #3e3e3e;
}

@media (max-width: 800px) {
  .head-box {
    width: 90%;
    padding: 13px;
  }
  .head-box img.logo {
    width: 95px;
  }
  .score-box {
    padding: 8px 20px;
    line-height: 1.2;
  }
}

/*
  main space
*/
.pick-move {
  margin-top: 80px;
  background-image: url("./images/bg-triangle.svg");
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  display: flex;
  height: 310px;
  width: 310px;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: stretch;

}
.hand-box {
  padding: 20px;
  background: #dfdfdf;
  border-radius: 50%;
  position: absolute;
  border: 9px solid;
  display: flex;
  width: $hand-width;
  height: $hand-width;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.pick-move .hand-box:hover {
  transform: scale(1.1);
}
#paper {
  right: -10%;
  top: -10%;
  border-color: #3085d6;
  box-shadow: inset 0px 6px 2px #424242cc, 0px 6px 0px #1b4a76;
}
#rock {
  left: -10%;
  top: -10%;
  border-color: #db1e1e;
  box-shadow: inset 0px 6px 2px #424242cc, 0px 6px 0px #581818;
}
#scissors {
  bottom: 0;
  border-color: #EBA117;
  box-shadow: inset 0px 6px 2px #424242cc, 0px 6px 0px #81590e;
}

@media (max-width: 800px) {
  .pick-move {
    width: 280px;
    height: 280px;
  }
  .pick-move .hand-box {
    width: calc($hand-width - 10px);
    height: calc($hand-width - 10px);
  }
}

.rules-btn {
  padding: 8px 20px;
  color: whitesmoke;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 7px;
  margin-top: 30px;
  position: absolute;
  top: 75%;
  right: 3%;
  cursor: pointer;
  transition: 0.3s;
}
.rules-btn:hover {
  background-color: whitesmoke;
  color: $dark-color;
}
@media (max-width: 800px) {
  .rules-btn {
    position: relative;
    right: 0;
  }
}

.match-box {
  display: none;
  margin-top: 42px;
  justify-content: space-around;
  gap: 100px;
}
.match-box.active {
  display: flex;
}
.match-box .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.match-box .box span {
  font-size: 14px;
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
}
.match-box .hand-box {
  position: relative;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}
.match-box .hand-box::before {
  position: absolute;
  content: "";
  background-color: #3085d6;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc($hand-width + 10px);
}
.hand-box.house-picked {
  border-color: #8f64d4;
  box-shadow: inset 0px 6px 2px #424242cc, 0px 6px 0px #452168;
  animation: color-change-2x 0.5s linear infinite alternate both;
}
.hand-box.active {
  animation: winAnim 1s ease-in 3 normal both;
}
@keyframes color-change-2x {
  0% {
    background: #e9e9e9;
  }
  100% {
    background: #8b8b8b;
  }
}
@keyframes winAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
@media (max-width: 800px) {
  .match-box {
    gap: 67px;
  }
}

.match-status {
  display: none;
  margin-top: 40px;
  flex-direction: column;
  gap: 15px;
}
.match-status p {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.match-status button {
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  font-weight: 300;
  color: $dark-color;
}
/*
  footer
*/
footer {
  margin-top: 45px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #aac7ff;
  text-decoration: none;
  // padding-left: 5px;
}